@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* .chatbot {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  top: 0;
  width: 33.33%;
  box-shadow: 0 -6px 99px -17px rgba(0, 0, 0, 0.68);
  border-radius: 10px;
}
@media screen and (min-width: 640px) {
  .chatbot {
    width: 40%;
    right: 0px;
    top: auto;
  }
}
.chatbot.chatbot--closed {
  top: auto;
  width: 100%;
} */

/* .chatbot__header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b3281;
  height: 54px;
  padding: 0 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease; */
/* } */
/* .chatbot__header:hover {
  background-color: #f21f24;
} */
/* .chatbot__header p {
  margin-right: 20px;
} */

.chatbot__close-button {
  fill: #fff;
}
.chatbot__close-button.icon-speech {
  width: 20px;
  display: none;
}
.chatbot--closed .chatbot__close-button.icon-speech {
  display: block;
}
.chatbot__close-button.icon-close {
  width: 14px;
}
.chatbot--closed .chatbot__close-button.icon-close {
  display: none;
}

.chatbot__message-window {
  height: calc(100% - (54px + 60px));
  padding: 0px 20px 20px 20px;
  background-color: #f4f4f4;
  overflow-x: none;
  overflow-y: auto;
}
@media screen and (min-width: 640px) {
  .chatbot__message-window {
    height: 100%;
  }
}
.chatbot__message-window::-webkit-scrollbar {
  display: none;
}
.chatbot--closed .chatbot__message-window {
  display: none;
}

.chatbot__messages {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: auto;
}
.chatbot__messages li {
  margin-bottom: 20px;
}
.chatbot__messages li.is-ai {
  display: inline-flex;
  align-items: flex-start;
}
.chatbot__messages li.is-user {
  text-align: right;
  display: inline-flex;
  align-self: flex-end;
}
.chatbot__messages li .is-ai__profile-picture {
  margin-right: 8px;
}
/* .chatbot__messages li .is-ai__profile-picture .icon-avatar {
  width: 40px;
  height: 40px;
  padding-top: 6px;
} */

.chatbot__message {
  font-size: 15px;
  display: inline-block;
  padding: 12px 10px;
  word-break: break-word;
  margin: 0;
  border-radius: 6px;
  letter-spacing: -0.01em;
  line-height: 1.45;
  overflow: hidden;
}
.is-ai .chatbot__message {
  background-color: #f0f0f0;
  /* margin-right: 10px; */
}
.is-user .chatbot__message {
  background-color: #d20c11;
  margin-left: 30px;
}
.chatbot__message a {
  color: #d20c11;
  word-break: break-all;
  display: inline-block;
}
.chatbot__message p:first-child {
  margin-top: 0;
}
.chatbot__message p:last-child {
  margin-bottom: 0;
}
/* .chatbot__message button {
  background-color: #fff;
  font-weight: 300;
  border: 2px solid #d20c11;
  border-radius: 50px;
  padding: 8px 20px;
  margin: -8px 10px 18px 0;
  transition: background-color 0.2s ease;
  cursor: pointer;
} */
/* .chatbot__message button:hover {
  background-color: #f2f2f2;
} */
/* .chatbot__message button:focus {
  outline: none;
} */
.chatbot__message img {
  max-width: 100%;
}

.animation:last-child {
  -webkit-animation: fadein 0.25s;
  animation: fadein 0.25s;
  -webkit-animation-timing-function: all 200ms
    cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-timing-function: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.chatbot__arrow--right {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #d20c11;
}

.chatbot__arrow--left {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid black;
}

.chatbot__arrow {
  width: 0;
  height: 0;
  margin-top: 18px;
}

.chatbot__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  border-top: 1px solid #d20c11;
  background-color: #fff;
}
.chatbot--closed .chatbot__entry {
  display: none;
}

.chatbot__input {
  height: 100%;
  width: 80%;
  border: 0;
}
.chatbot__input:focus {
  outline: none;
}
.chatbot__input::-webkit-input-placeholder {
  color: #d20c11;
}
.chatbot__input::-moz-placeholder {
  color: #d20c11;
}
.chatbot__input::-ms-input-placeholder {
  color: #d20c11;
}
.chatbot__input::-moz-placeholder {
  color: #d20c11;
}

.chatbot__submit {
  fill: #0a41c5;
  height: 22px;
  width: 22px;
  transition: fill 0.2s ease;
  cursor: pointer;
}
.chatbot__submit:hover {
  fill: #720609;
}

.u-text-highlight {
  color: #d20c11;
}

.chatbot {
  display: none;
  position: fixed;
  height: 80vh;
  top: 0;
  width: 30%;
  box-shadow: 0 -6px 99px -17px rgba(0, 0, 0, 0.68);
  border-radius: 10px;
}

.circle2 {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-image: url("/assets/newJoey.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-size: contain;
}

.nwHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
  margin: 0px !important;
  background-color: #f4f4f4;
}

.chatbot {
  width: 33%;
  right: 0px;
  top: auto;
}
@media only screen and (max-device-width: 480px) {
  .chatbot {
    height: 95%;
    width: 100%;
    right: 0px;
    top: auto;
  }
}

.chatbot.chatbot--closed {
  top: auto;
  width: 100%;
}

.chatbot__header {
  background-color: #f4f4f4;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 0 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.chatbot__close-button {
  fill: #fff;
}
.chatbot__close-button.icon-speech {
  width: 20px;
  display: none;
}
.chatbot--closed .chatbot__close-button.icon-speech {
  display: block;
}
.chatbot__close-button.icon-close {
  width: 14px;
}
.chatbot--closed .chatbot__close-button.icon-close {
  display: none;
}

.close_btn {
  padding: 4px;
  border-radius: 2px;
  color: white;
  background-color: #d20c11;
}
.refresh_btn {
  padding: 4px;
  border-radius: 2px;
  color: white;
  background-color: #1b3281;
}

.chatbot__message-window {
  height: calc(100% - (54px + 60px));
  padding: 0px 20px 20px 20px;
  background-color: #f4f4f4;
  overflow-x: none;
  overflow-y: auto;
}
@media screen and (min-width: 640px) {
  .chatbot__message-window {
    height: 100%;
  }
}
.chatbot__message-window::-webkit-scrollbar {
  display: none;
}
.chatbot--closed .chatbot__message-window {
  display: none;
}

.chatbot__messages {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: auto;
}
.chatbot__messages li {
  margin-bottom: 20px;
}
.message_container {
  width: 100%;
}
.assigning_margin {
  position: relative;
  margin-top: 15px;
  margin-left: 16px;
  margin-right: 16px;
}

.chatbot__messages li.is-ai {
  display: inline-flex;
  align-items: flex-start;
}
.chatbot__messages li.is-user {
  text-align: right;
  display: inline-flex;
  align-self: flex-end;
}
.chatbot__messages li .is-ai__profile-picture {
  margin-right: 8px;
  overflow: hidden;
  transition: background-color 0.75s;
  position: absolute;
  bottom: 0;
  min-width: 40px;
  width: 40px;
  min-height: 40px;
  height: 40px;
  z-index: 0;
}
/* .chatbot__messages li .is-ai__profile-picture .icon-avatar {
  width: 40px;
  height: 40px;
  padding-top: 6px;
} */

.circle {
  background-image: url("/assets/newJoey.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(1.1);
  height: 100%;
  width: 100%;
  background-size: contain;
}

.input-body {
  opacity: 1;
  display: block;
  position: relative;
}

.button-area {
  height: auto;
  overflow: hidden;
}

.optionDiv {
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  transform: translateY(0);
  opacity: 1;
  padding: 9px 0px 9px 0px;
}
.option {
  color: rgb(114, 103, 103);
  padding: 11px 0;
  line-height: 1.35em;
  transition: color 0.75s;
  text-transform: uppercase;
  font-size: 10px;
}

.chatbot__message1 {
  height: auto;
  width: auto;
  box-sizing: content-box;
  min-height: 1.35em;
  display: inline-block;
  max-width: 82%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 16px 14px;
  margin-left: 65px;
  border-radius: 3px;
  box-shadow: none;
  transition: opacity 0.5s, background-color 0.75s, color 0.75s;
  min-width: 42px;
  box-shadow: 0 1px 28px 0 rgb(90 60 122 / 22%);
}
.chatbot__message {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  word-break: break-word;
  margin: 0;
  border-radius: 6px;
  letter-spacing: -0.01em;
  line-height: 1.35em;
  overflow: hidden;
  font-size: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  letter-spacing: -0.1px;
  max-width: 100%;
  transition: background-color 0.75s, color 0.75s;
  white-space: normal;
  color: rgb(0, 0, 0);
}
.is-ai .chatbot__message {
  background-color: #fff;
  /* margin-right: 10px; */
}
.is-user .chatbot__message {
  background-color: rgba(118, 118, 118, 0.838);
  margin-left: 10px;
  color: #ffffff;
  padding: 20px;
}
.chatbot__message a {
  color: #bf2024;
  word-break: break-all;
  display: inline-block;
}
.chatbot__message p:first-child {
  margin-top: 0;
}
.chatbot__message p:last-child {
  margin-bottom: 0;
}
/* .chatbot__message button {
  background-color: #fff;
  font-weight: 300;
  border: 2px solid #bf2024;
  border-radius: 50px;
  padding: 8px 20px;
  margin: -8px 10px 18px 0;
  transition: background-color 0.2s ease;
  cursor: pointer;
} */
/* .chatbot__message button:hover {
  background-color: #f2f2f2;
}
.chatbot__message button:focus {
  outline: none;
} */
.chatbot__message img {
  max-width: 100%;
}

.animation:last-child {
  -webkit-animation: fadein 0.25s;
  animation: fadein 0.25s;
  -webkit-animation-timing-function: all 200ms
    cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-timing-function: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.chatbot__arrow {
  width: 0;
  height: 0;
  margin-top: 18px;
}

.chatbot__arrow--right {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #fde7e8;
}

.chatbot__arrow--left {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #f0f0f0;
}

.chatbot__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  border-top: 1px solid #e6eaee;
  background-color: #fff;
}
.chatbot--closed .chatbot__entry {
  display: none;
}

.chatbot__input {
  height: 100%;
  width: 80%;
  border: 0;
}
.chatbot__input:focus {
  outline: none;
}
.chatbot__input::-webkit-input-placeholder {
  color: #7f7f7f;
}
.chatbot__input::-moz-placeholder {
  color: #7f7f7f;
}
.chatbot__input::-ms-input-placeholder {
  color: #7f7f7f;
}
.chatbot__input::-moz-placeholder {
  color: #7f7f7f;
}

.chatbot__submit {
  fill: #bf2024;
  height: 22px;
  width: 22px;
  transition: fill 0.2s ease;
  cursor: pointer;
}
.chatbot__submit:hover {
  fill: #681114;
}

.u-text-highlight {
  color: #fde7e8;
}

.loader {
  margin-bottom: -2px;
  text-align: center;
  opacity: 0.3;
}

.loader__dot {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 0 1px;
  background: black;
  border-radius: 50px;
  -webkit-animation: loader 0.45s infinite alternate;
  animation: loader 0.45s infinite alternate;
}
.loader__dot:nth-of-type(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.loader__dot:nth-of-type(3) {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

@-webkit-keyframes loader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes loader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }
  to {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }
  to {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
* {
  box-sizing: border-box;
}

/* body {
  background: url("https://images.unsplash.com/photo-1464823063530-08f10ed1a2dd?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=") no-repeat center center;
  background-size: cover;
  height: 1000px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
} */

input {
  font-family: "Open Sans", sans-serif;
}

strong {
  font-weight: 600;
}

.intro {
  display: block;
  margin-bottom: 20px;
}

.loader {
  margin-bottom: -2px;
  text-align: center;
  opacity: 0.3;
}

.loader__dot {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 0 1px;
  background: black;
  border-radius: 50px;
  -webkit-animation: loader 0.45s infinite alternate;
  animation: loader 0.45s infinite alternate;
}
.loader__dot:nth-of-type(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.loader__dot:nth-of-type(3) {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

@keyframes loader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }
  to {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
* {
  box-sizing: border-box;
}

body {
  background: url("assets/usbank-bg.png") no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

input {
  font-family: "Open Sans", sans-serif;
}

strong {
  color: #2c2c2c;
  font-weight: 600;
}

.intro {
  display: block;
  margin-bottom: 20px;
}

#content {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 75px;
  height: 75px;
}
.animation_apply {
  animation: bounce 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.02, 1, 0.3);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100px, 0);
  }
}

#content:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

#chat-circle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #bf2024;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  color: white;
  /* padding: 12px; */
  cursor: pointer;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  display: flex;
  justify-content: center;
}

#front-img {
  position: fixed;
  bottom: 62px;
  right: 62px;
  width: 65px;
  height: 65px;
  display: block;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid rgb(255, 65, 66);
  border-radius: 50%;
}

#front-img :hover {
  width: 60px;
  height: 60px;
}

/* #chat-circle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #bf2024;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  display: flex;
  justify-content: center;
} */

/* #front-img {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: block;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid rgb(255, 65, 66);
  border-radius: 50%;
} */

#front-img :hover {
  width: 60px;
  height: 60px;
}

.chatbotBtn {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* margin-left: -6px; */
  /* flex-direction: column; */
  /* margin-top: 10px; */
}
.different {
  background-color: #ec23237a !important;
}
.different button:hover {
  background-color: #1b3281 !important;
}
.chatbotBtn button {
  font-size: 15px;
  color: rgb(255, 255, 255);
  /* border-width: 2px; */
  border-style: none;
  background-color: #1b3281;
  letter-spacing: -0.5px;
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s, color 0.75s;
  padding: 20px 25px;
  width: calc(50% - 6px);
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-radius: 8px;
}

.splbtn button {
  width: 90% !important;
  background-color: white;
  color: #2c2c2c;
}

.splbtn button:first-child {
  background-color: #1b3281 !important;
  color: white;
}

.chatbotBtn button:hover {
  background-color: #1b3381cb !important;
  /* background: linear-gradient(-180deg, #0a41c5, #0c2074) !important; */
  color: white;
}

#LandbotLauncherTooltip {
  visibility: hidden;
  background-color: #c30b12;
  padding: 10px 15px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #fff;
  border-radius: 8px;
  height: 55px;
  width: 170px;
  display: inline-block;
  position: absolute;
  left: -280px;
  top: -73px;
  opacity: 1;
}

#LandbotLauncherTooltip::after {
  content: " ";
  height: 16px;
  width: 16px;
  background-color: #c30b12;
  transform: rotate(45deg);
  position: absolute;
  top: 20px;
  right: -6px;
  border-radius: 4px;
}

.LandbotLauncherTooltip .title {
  font-size: 14px;
  font-weight: 600;
}

.LandbotLauncherTooltip .subtitle {
  font-size: 10px !important;
  color: rgba(255, 255, 255, 0.7);
}

#chat-circle:hover > #LandbotLauncherTooltip {
  display: block;
  visibility: visible;
}

.message_content::before {
  /* opacity: 1; */
  transition: all 0.35s;
  content: "";
  width: 12px;
  height: 10px;
  position: absolute;
  background-color: white;
  left: 53px;
  bottom: 12px;
  -webkit-mask-image: url(https://storage.googleapis.com/landbot.io/misc/corner.svg);
  mask-image: url("/assets/left.png");
  display: inline-block;
  background-size: 40px;
  background-repeat: no-repeat;
  z-index: 1;
}
/* Tooltip for button */
/* setup tooltips */
.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.tooltip:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.75);
  border-left: 6px solid transparent;
  content: "";
  height: 0;
  top: 120px;
  left: 120px;
  width: 0;
}
.tooltip:before {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 26px;
  white-space: nowrap;
}

/* the animations */
/* fade */
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0, -10px, 0);
  transition: all 0.15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.formLoginNew {
  height: auto;
  clear: both;
  border-radius: 15px;
  padding: 25px;
  box-sizing: border-box;
  background: #fff !important;
  text-align: left;
}

.account_login {
  text-align: left;
  font-size: 20px;
  color: #2c2c2c;
  line-height: 1.25em;
  font-weight: normal;
  margin: 0 0 10px 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  cursor: default;
}

.form_control__select {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
}

.form_control__select .label_text_container {
  display: block;
  color: #6e6e6e;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
}

.form_control__select .label_text_container .labelText_text {
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 0 40px 0;
}

.form_control_select__container {
  height: auto !important;
  background-color: #fff;
  border-bottom: 1px solid #858585;
  display: relative;
  height: 1.75em;
}

.form_control_select__container select {
  font-size: 16px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #2c2c2c;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  line-height: unset;
  border: none;
  border-radius: 0;
  background-color: #fff;
  width: 100%;
  padding-bottom: 0.25rem;
  height: 100%;
  transition: all 0.3s ease;
  outline: 0;
  box-shadow: none;
}

.helper-text__container {
  line-height: 1.5;
  padding-top: 0.25rem;
  display: flex;
}

.form-control__input {
  position: relative;
  min-height: 3rem;
  padding-top: 1rem;
  margin-top: 0.5rem;
  width: 100%;
}

.form-control__input label {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left bottom;
  transform: translateY(1rem) scale(1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.form-control__input input {
  color: #2c2c2c;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #858585;
  border-radius: 0;
  margin-bottom: 1px;
  width: 100%;
  padding-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease;
}

/* .form-control__input label:focus  */
.form-control__input label.is-focused {
  /* color: #0a41c5;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5; */
  transform: translateY(-0.5rem) scale(0.75);
}

.form-control__input input:focus {
  border-bottom: 1px solid #0a41c5;
  margin: 0;
  outline: 2px solid #61a0f7;
  padding-left: 0.25rem;
}

.form-control__input.show-hide button {
  margin: 0;
  position: absolute;
  right: -0.25rem;
  top: 0.5rem;
  color: #6e6e6e;
  font-size: 0.75rem;
  font-weight: 400;
  border: none;
  padding: 1rem 0.5rem;
}

.usb-button.button--text {
  background: 0 0;
  border: none;
  color: #0a41c5;
}

.usb-button.button--small {
  font-size: 0.875rem;
  margin: 0.75rem;
  max-height: 2rem;
  padding: 0.5rem 1.25rem;
}

.usb-button {
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  height: auto;
  line-height: 1;
  max-width: 100%;
  outline: transparent;
  position: relative;
  transition: color 0.1s ease, border 0.1s ease;
  white-space: nowrap;
}

.usb-button.button--primary {
  background: linear-gradient(-180deg, #0a41c5, #0a41c5);
  border: none;
  color: #fff;
}

.usb-button.button--default {
  margin: 1.5rem;
  max-height: 2.5rem;
  padding: 0.75rem 1.5rem;
}

.usb-button.button--primary.login-button-continue {
  margin: 15px 0 !important;
  width: 100% !important;
}

.usb-button.button--default:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  bottom: -0.25rem;
  left: 0;
  right: 0;
}
